* {
  margin: 0;
  box-sizing: border-box;     
  font-family: 'Roboto', sans-serif;                                     
}

body {
  background-image: url('main-background.gif');
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


#game-title {
  font-family: 'Star Wars', sans-serif;   
  color: goldenrod;
  text-align: center;
  margin: 30px 0;
}

.cards {
  margin: 50px 0;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  position: relative;
  
}

.card {
  color: white;
  padding: 5px;
  border: 2px white solid;
  text-align: center;
  height: min-content;
  font-size: 28px;
}

.card:hover {
  transform: scale(1.1);
  border: gold 2px solid;
  cursor: pointer;
}

.card > img {
  width: 100%;
}

#score {
  text-align: center;
  font-size: 40px;
}

.bold {
  font-weight: bold;
  color: goldenrod;
}


#gameover, #victory {
  border-radius: 15px;
  width: 750px;
  height: fit-content;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  border: rgba(255, 255, 255, 0.841) 5px solid;
  background-image: url(night-sky.avif); 
}


#gameover > button, #victory > button {
  margin-top: 5px;
  font-size: 40px;
  border: none;
  text-shadow: 0 0 1px yellow;
  background-color: rgba(255, 255, 255, 0);
  color: rgb(255, 255, 255);
}

#victory > button  {
  color: goldenrod;
}

#victory > button:hover, #gameover> button:hover {
  text-shadow: 0 0 10px rgb(255, 222, 54);
}

#gameover > img, #victory > img {
  border-radius: 10px;
  object-fit:cover;
  width: 600px;
  height: 300px;
  margin-bottom: 50px;
}

#victory {
  color: white;
}

#gameover {
  color: rgb(186, 22, 22);
}

#victory > p, #gameover > p {
  font-family: 'Star Wars', sans-serif;  
  font-size: 50px;
}

#cardback {
  border-radius: 10px;
  border: 3px #ffffff solid;
}

#volumeBtn {
  background-color: white;
  width: 80px;
  height: 80px;
  border: none;
  border-radius: 50%;
  position: fixed;
  bottom: 35px;
  right: 35px;
  display: flex;
  align-items: center;
}

#volumeBtn > img {
  width: 60px;
  background-color: none;
}

.loading {
  margin: 0 auto;
  position: relative;
}

.loading > p {
  font-size: 35px;
  text-align: center;
  font-family: 'Star Wars', sans-serif;  
  text-shadow: 0 0 1px black;
  margin-bottom: 15px;
}

.loading > img {
  border: none;
  border-radius: 15px;
}